/* font-family: 'Slabo 27px', serif; */
/**********************************************/
                  /* SETUP */
/**********************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* background-color: gray; */
  color: #555;
  font-family: 'Slabo 27px', serif;
  font-weight: 100;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}
/**********************************************/
                  /* REUSE */
/**********************************************/

.row {
  max-width: 1140px;
  margin: 0 auto;
}
section {
  padding: 80px 0;
}
.icon-big {
  display: inline-block;
  width: 30px;
  text-align: center;
  font-size: 120%;
}


/**********************************************/
                  /* HEADING*/
/**********************************************/
h1, h2, h3 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 3px;
}

h2 {
  font-size: 180%;
  word-spacing: 20px;
  text-align: center;
  margin-bottom: 30px;
}
h3 {
  font-size: 110%;
  margin-bottom: 15px;

}

h2::after{
  display: block;
  height: 2px;
  background-color: #1abc9c;
  content: " ";
  margin: 0 auto;
  margin-top: 30px;

}
.box {
  padding: 2px;
}
#pong-header{
  padding: 0;
  margin: 0;
  border: 0;
}
#pong {
  width: 100%;
  height: auto;
}
/**********************************************/
                  /* paragrph */
/**********************************************/
.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}
.box p {
  font-size: 90%;
  line-height: 145%;
}
/**********************************************/
                  /* Icons */
/**********************************************/

.icon-big {
  font-size: 300%;
  display: block;
  color: #1abc9c;
  margin-bottom: 10px;
}
.icon-small {
  font-size: 200%;


}

/**********************************************/
                  /* link */
/**********************************************/
/* a:link, a:visited {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000
  padding: 1px;
  transition: border-bottom 0.5s, color 02.5s;
}
a: hover, a:active {
  color: #555;
  border-bottom: 1px solid transparent;
} */

/**********************************************/
                  /* BUTTONS */
/**********************************************/
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.10s, border 0.10s, color 0.10s;
  /* color: #000; */
}
.btn-full:link,
.btn-full:visited {
  background-color: #bdc3c7;
  border: 1px solid #1abc9c;
  color: #000;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  background-color: #bdc3c7;
  border: 1px solid #1abc9c;
  color: #000;
}

.btn:hover,
.btn:active {
  background-color: #f4f5f6;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #1abc9c;
}
.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #1abc9c;
  color: #000;
}

/**********************************************/
                  /* HEADER */
/**********************************************/

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("/Users/sepehrparirokh/Desktop/Projects/personalSite/resources/Img/self.jpg");
  /* background-image: url("/Users/sepehrparirokh/Desktop/Projects/personalSite/resources/Img/klyuchevskaya_oli_2018010_lrg.jpg"); */
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.hero-text-box {
  position: relative;
  width: 1000px;
  top: 20%;
  left: 25%;
  /* bottom: 20%; */
  transform: translate(-50, -50);
  /* text-align: center; */
}

/* .logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
} */



.main-nav {
  float: right;
  list-style: none;
  margin-top: 60px;
}

.main-nav li {
  display: inline-block;
  margin-left: 55px;
  /* float: right; */
  font-size: 25px;

}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 5px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.10s;


}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #1abc9c;
}

/**********************************************/
                  /* sticky nav */
/**********************************************/

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 2px #efefef;
}

.main-nav {
  margin-top: 15px;
  padding-bottom: 10px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  padding: 9px 0;
  color: #555;

}


/**********************************************/
                  /* features */
/**********************************************/
.section-features .long-copy {
  margin-bottom: 40px;
}
.section-pong{
  padding: 0;
  margin: 0;
}



/**********************************************/
                  /*  travel photos */
/**********************************************/
.section-pic {
  padding: 0;
}


.photo-showcase {
  list-style: none;
  width: 100%;

}

.photo-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.me-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.me-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.9s, opacity 0.5s;
}

.me-photo img:hover {
  opacity: 1;
  transform: scale(1.03);
}
/**********************************************/
                  /*  project photos */
/**********************************************/
.box img {
  width: 90%;
  height: auto;
}
.project-feature {

}

.section-projects {
  background-color: #fff;
  margin: 0;
  padding: 0;
}
/**********************************************/
                  /* footer */
/**********************************************/
footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2))
}
.social-links {
  list-style: none;
  text-align: center;
}

#last-text {
  text-align: center;
  color: #000;
  font-size: 30px;
}
